<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Expenses</title>
    </head>
    <body>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

        <form action="#" th:action="@{/postExpense}" method="POST">
            <p><label for="year">Year</label>: <input type="text" name="year" id="year"/></p>
            <p><label for="month">Month</label>: <input type="text" name="month" id="month"/></p>
            <p><label for="lowestSubCategoryId">Category</label>: <input type="text" name="lowestSubCategoryId" id="lowestSubCategoryId" hidden="true" value="1"/></p>
            <p><label for="amountCents">AmountCents</label>: <input type="text" name="amountCents" id="amountCents"/></p>
            <input type="text" name="bookId" id="bookId" hidden="true" th:value="${book.id}"/>
            <input type="text" name="previousVersion" id="previousVersion" hidden="true"/>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <h1>Selected book: <span th:text="${book.name}"></span></h1>

        <ul>
            <li th:each="item : ${expenses}">
                <span th:text="${item.amountCents}">expense</span> (<span th:text="${item.amountCents}">999</span>€)
                <form th:action="@{/deleteExpense}" th:method="DELETE">
                    <input type="text" name="id" id="id" th:value="${item.id}" hidden="false"/>
                    <input type="submit" value="Delete"/>
                </form>
            </li>
        </ul>

        <p></p>
    </body>
</html>
